Repository DukiDuki2000/My_Car_Specialist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_garage-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

build_api-gateway:
  stage: build
  image: gradle:8.11
  script:
  - cd spring_apps/api-gateway
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/api-gateway/build/libs/*.jar
    expire_in: 1 day

build_user-service:
  stage: build
  image: gradle:8.11
  script:
  - cd spring_apps/user-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/user-service/build/libs/*.jar
    expire_in: 1 day

build_garage-service:
  stage: build
  image: gradle:8.11
  script:
  - cd spring_apps/garage-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/garage-service/build/libs/*.jar
    expire_in: 1 day

build_vehicle-service:
  stage: build
  image: gradle:8.11
  script:
  - cd spring_apps/vehicle-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/vehicle-service/build/libs/*.jar
    expire_in: 1 day

build_notification-service:
  stage: build
  image: gradle:8.11
  script:
  - cd spring_apps/notification-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/notification-service/build/libs/*.jar
    expire_in: 1 day

build_recommendation-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/recommendation-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/recommendation-service/build/libs/*.jar
    expire_in: 1 day

create_api-gateway_image:
  stage: dockerize
  script:
  - cd spring_apps/api-gateway;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - chmod +x ./gradlew
  - VERSION=$(./gradlew -q printVersion)
  - cd;
  - cd ./**/**/**/**/my_car_specialist
  - ls -a
  - tree
  ...

create_user-service_image:
  stage: dockerize
  script:
  - cd spring_apps/user-service;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - chmod +x ./gradlew
  - VERSION=$(./gradlew -q printVersion)
  - cd;
  - cd ./**/**/**/**/my_car_specialist
  - ls -a
  ...

create_garage-service_image:
  stage: dockerize
  script:
  - cd spring_apps/garage-service;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - chmod +x ./gradlew
  - VERSION=$(./gradlew -q printVersion)
  - cd;
  - cd ./**/**/**/**/my_car_specialist
  - ls -a
  ...

create_vehicle-service_image:
  stage: dockerize
  script:
  - cd spring_apps/vehicle-service;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - chmod +x ./gradlew
  - VERSION=$(./gradlew -q printVersion)
  - cd;
  - cd ./**/**/**/**/my_car_specialist
  - ls -a
  ...

deploy_services:
  stage: deploy
  script:
  - docker compose -f docker-compose.yml up -d

(Poprawka)docker compose dodanie external
  docker-compose.yml
Due: deploy_services

(TEST)docker compose dodanie external
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/rest/UserRestController.java
Due: build_user-service, create_user-service_image, deploy_services

(Poprawka)application.properties zmiany nazwy
  spring_apps/user-service/src/main/resources/application.properties
Due: build_user-service, create_user-service_image, deploy_services

(TEST) RECome
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/rest/RecommendationRestController.java
Due: build_recommendation-service, create_recommendation-service_image, deploy_services

Update WebSecurityConf.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/security/WebSecurityConf.java
Due: build_user-service, create_user-service_image, deploy_services

Update User.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/models/User.java
Due: build_user-service, create_user-service_image, deploy_services

Update .gitlab-ci.yml file test export version
  .gitlab-ci.yml
Due: none

[Wersja] Docker compose zmiana na zmienna wersje vehicle-ser
  docker-compose.yml
Due: deploy_services

[TEST}[Wersja] Docker compose zmiana na zmienna wersje vehicle-ser
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

Update .gitlab-ci.yml file poprwka błedu docker tag
  .gitlab-ci.yml
Due: none

[TEST2}[Wersja] Docker compose zmiana na zmienna wersje vehicle-ser
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

Update .gitlab-ci.yml file test latest
  .gitlab-ci.yml
Due: none

[TEST3}[Wersja] Docker compose zmiana na latest wersje vehicle-ser
  docker-compose.yml
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

[TEST4}[Wersja] Docker compose zmiana na latest wersje vehicle-ser
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

[TEST5}[Wersja] Docker compose zmiana na latest wersje vehicle-ser oraz dodanie innego taga
  .gitlab-ci.yml
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

[TEST6}[Wersja] Docker compose zmiana na latest wersje vehicle-ser oraz dodanie innego taga
  .gitlab-ci.yml
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

[TEST7}[Wersja] Docker compose zmiana na latest wersje vehicle-ser oraz dodanie innego taga
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

[TEST]Ponowne budowanie serwisow z nowymi tagami
  .gitlab-ci.yml
  docker-compose.yml
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projekt/notification_service/NotificationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/RecommendationServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_api-gateway, build_user-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

[TEST]Ponowne budowanie serwisow z nowymi tagami+garage
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/GarageServiceApplication.java
Due: build_garage-service, create_garage-service_image, deploy_services

Update .gitlab-ci.yml file dodanie czyszczenia nieużywanych obrazów
  .gitlab-ci.yml
Due: none

[TEST] Dodanie clean
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

Poprawka cleanup oraz test
  .gitlab-ci.yml
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_vehicle-service, create_vehicle-service_image, deploy_services

Nowa funkcjonalnosc- wyciaganie inframcje z nipu
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/GarageServiceApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/dto/CompanyInfo.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/model/VATResposne.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/rest/GarageRestController.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/service/GarageService.java
Due: build_garage-service, create_garage-service_image, deploy_services

Dodanie .gitignore
  .idea/.gitignore
  spring_apps/api-gateway/.gitignore
  spring_apps/api-gateway/gradlew.bat
  spring_apps/garage-service/.gitignore
  spring_apps/garage-service/gradlew.bat
  spring_apps/notification-service/.gitignore
  spring_apps/notification-service/gradlew.bat
  spring_apps/recommendation-service/.gitignore
  spring_apps/recommendation-service/gradlew.bat
  spring_apps/user-service/.gitignore
  spring_apps/user-service/gradlew.bat
  spring_apps/vehicle-service/.gitignore
  spring_apps/vehicle-service/gradlew.bat
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_garage-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

Dodanie ostatecznego .gitignore
  .gitignore
Due: none

Dodanie sekretow do user-service
  .gitlab-ci.yml
  services.Dockerfile
  spring_apps/user-service/src/main/resources/application.properties
  spring_apps/vehicle-service/src/main/resources/application.properties
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_garage-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

[TEST]Dodanie sekretow do user-service
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

Poprawa Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

[TEST2]Dodanie sekretow do user-service
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

Poprawka v2 Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

[TEST3]Dodanie sekretow do user-service
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

[TEST4]Dodanie sekretow do user-service
  .gitlab-ci.yml
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

test pierwszego cicd pod front
  .gitlab-ci.yml
Due: none

Dodano nazwy kontenerów z serwisami
  docker-compose.yml
Due: deploy_services

[TEST]Dodano nazwy kontenerów z serwisami
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/GarageServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projekt/notification_service/NotificationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/RecommendationServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_garage-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

[TEST]Dodano nazwy kontenerów z serwisami i poprawienie ci pod nowy branch
  .gitlab-ci.yml
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/GarageServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projekt/notification_service/NotificationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/RecommendationServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image, create_user-service_image, create_garage-service_image, create_vehicle-service_image, create_notification-service_image, create_recommendation-service_image, deploy_services

[TEST] Zmiana secret key dla serwisow
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

[TEST2] Zmiana secret key dla serwisow
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

[TEST3] Zmiana secret key dla serwisow
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
Due: build_user-service, create_user-service_image, deploy_services

Uruchomienie logowania za pomocą JWT, rozpoczęcie modyfikacji paneli dla serwisu
  frontend/app/components/AddCarButton.tsx
  frontend/app/components/JobListButton.tsx
  frontend/app/components/LogoutButton.tsx
  frontend/app/components/NewJobButton.tsx
  frontend/app/layout.tsx
  frontend/app/pages/[name]/client-services/car_history/page.tsx
  frontend/app/pages/[name]/employee-dashboard/page.tsx
  frontend/app/pages/[name]/garage-dashboard/add-car/page.tsx
  frontend/app/pages/[name]/garage-dashboard/page.tsx
  frontend/app/pages/[name]/page.tsx
  frontend/app/pages/auth/login/page.tsx
Due: none

Path conditions:
  build_api-gateway: any of: spring_apps/api-gateway/**/*, services.Dockerfile
  build_user-service: any of: spring_apps/user-service/**/*, services.Dockerfile
  build_garage-service: any of: spring_apps/garage-service/**/*, services.Dockerfile
  build_vehicle-service: any of: spring_apps/vehicle-service/**/*, services.Dockerfile
  build_notification-service: any of: spring_apps/notification-service/**/*
  build_recommendation-service: any of: spring_apps/recommendation-service/**/*, services.Dockerfile
  create_api-gateway_image: any of: spring_apps/api-gateway/**/*, services.Dockerfile
  create_user-service_image: any of: spring_apps/user-service/**/*, services.Dockerfile
  create_garage-service_image: any of: spring_apps/garage-service/**/*, services.Dockerfile
  create_vehicle-service_image: any of: spring_apps/vehicle-service/**/*, services.Dockerfile
  create_notification-service_image: any of: spring_apps/notification-service/**/*, services.Dockerfile
  create_recommendation-service_image: any of: spring_apps/recommendation-service/**/*, services.Dockerfile
  deploy_services: any of: spring_apps/**/*, services.Dockerfile, docker-compose.yml
