Repository DukiDuki2000/My_Car_Specialist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image

build_api-gateway:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/api-gateway
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/api-gateway/build/libs/*.jar
    expire_in: 1 day

build_user-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/user-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/user-service/build/libs/*.jar
    expire_in: 1 day

build_garage-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/garage-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/garage-service/build/libs/*.jar
    expire_in: 1 day

build_vehicle-service:
  stage: build
  script:
  - cd spring_apps/vehicle-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/vehicle-service/build/libs/*.jar
    expire_in: 1 day

build_notification-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/notification-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/notification-service/build/libs/*.jar
    expire_in: 1 day

build_recommendation-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/recommendation-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/recommendation-service/build/libs/*.jar
    expire_in: 1 day

create_api-gateway_image:
  stage: dockerize
  script:
  - cd spring_apps/api-gateway;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - pwd
  - chmod +x ./spring_apps/api-gateway/gradlew
  - VERSION=$(./spring_apps/api-gateway/gradlew -q printVersion)
  - cd;
  ...

change url garage
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/garage/client/RestGarageServiceClient.java
Due: build_api-gateway, create_api-gateway_image

change url port garage
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/garage/client/RestGarageServiceClient.java
Due: build_api-gateway, create_api-gateway_image

docer-compose update port
  docker-compose.yml
Due: none

docker vechicle test port change
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_vehicle-service

update docker-compose
  docker-compose.yml
Due: none

rest vehicle
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/vehicle/client/RestVehicleServiceClient.java
Due: build_api-gateway, create_api-gateway_image

update api-gateway properties and urls
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/notification/client/RestNotificationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/recommendation/client/RestRecommendationServiceClient.java
  spring_apps/api-gateway/src/main/resources/application.properties
Due: build_api-gateway, create_api-gateway_image

vehicle repair
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/vehicle/client/RestVehicleServiceClient.java
Due: build_api-gateway, create_api-gateway_image

user fix url
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/user/client/RestUserServiceClient.java
Due: build_api-gateway, create_api-gateway_image

fix variables in api-gateway
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/garage/client/RestGarageServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/notification/client/RestNotificationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/recommendation/client/RestRecommendationServiceClient.java
Due: build_api-gateway, create_api-gateway_image

add @Value import to infrastructure
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/garage/client/RestGarageServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/notification/client/RestNotificationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/recommendation/client/RestRecommendationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/user/client/RestUserServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/vehicle/client/RestVehicleServiceClient.java
Due: build_api-gateway, create_api-gateway_image

fix RestUserServiceClient
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/user/client/RestUserServiceClient.java
Due: build_api-gateway, create_api-gateway_image

fix url
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/user/client/RestUserServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/vehicle/client/RestVehicleServiceClient.java
Due: build_api-gateway, create_api-gateway_image

noti change
  spring_apps/notification-service/src/main/java/com/apsi_projket/notification_service/rest/NotificationRestController.java
Due: build_notification-service

notificvation fix rename
  spring_apps/notification-service/src/main/java/com/apsi_projekt/notification_service/NotificationServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projekt/notification_service/rest/NotificationRestController.java
Due: build_notification-service

Adding first version of client side interface
  .idea/.gitignore
  .idea/modules.xml
  .idea/my_car_specialist.iml
  .idea/vcs.xml
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/client-services/add-car/page.tsx
  frontend/app/client-services/add-request/page.tsx
  frontend/app/client-services/request-history/page.tsx
  frontend/app/dashboards/client-dashboard/page.tsx
  frontend/app/dashboards/employee-dashboard/page.tsx
  frontend/app/favicon.ico
  frontend/app/fonts/GeistMonoVF.woff
  frontend/app/fonts/GeistVF.woff
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/PDF.png
  frontend/public/car.svg
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/listaZgloszen.svg
  frontend/public/next.svg
  frontend/public/pencil.svg
  frontend/public/road.svg
  frontend/public/road3.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: none

Dodanie VIN dekodera oraz dodanie zmiennych w ci/cd api_key oraz secret_key
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/config/VinDecoderProperties.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/model/VinDecodeResponse.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/service/VinDecoderService.java
  spring_apps/vehicle-service/src/main/resources/application.properties
Due: build_vehicle-service

Update .gitlab-ci.yml file changed gradle version
  .gitlab-ci.yml
Due: none

poprawienie build.gradle.kts- dodanie commons-codec
  spring_apps/vehicle-service/build.gradle.kts
Due: build_vehicle-service

Update .gitlab-ci.yml file dodanie do build vehicle-image
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file- zmiana wersji gradle dla wszytkich serwisów
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file test sekretów
  .gitlab-ci.yml
Due: none

test vehicle services
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service

[Proba naprawy bledu] Dodanie wypisywania apki_key i secret key
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/config/VinDecoderProperties.java
Due: build_vehicle-service

wywolanie pipeline vehicle services
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service

Update .gitlab-ci.yml file dodanie sekretow do joba
  .gitlab-ci.yml
Due: none

testo vehicle service [blad sekretów]
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service

Update .gitlab-ci.yml file dodanie do create_vehicle-service_image build-arg
  .gitlab-ci.yml
Due: none

update dockerfile o klucze
  services.Dockerfile
Due: none

[sekrety] test kolejny
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service

[Naprawiono secret] Poprawne dzialanie vin dekodera
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/config/VinDecoderProperties.java
Due: build_vehicle-service

[Rozdzielić branche repo{Poprawic wersje w dockerfile}] Proba ustawienia latest przy kontenerach
  docker-compose.yml
Due: none

(TEST)[Rozdzielić branche repo{Poprawic wersje w dockerfile}] Proba ustawienia latest przy kontenerach
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_vehicle-service

(TEST)[Rozdzielić branche repo{Poprawic wersje w dockerfile}] Powrot do poprzedniego stanu
  docker-compose.yml
Due: none

(TEST)user-service
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/rest/UserRestController.java
Due: build_user-service

Update AuthController.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/controllers/AuthController.java
Due: build_user-service

(Poprawka)user-service, application.pro dodanie bd oraz dodanie implementacji
  spring_apps/user-service/build.gradle.kts
  spring_apps/user-service/src/main/resources/application.properties
Due: build_user-service

(Poprawka)user-service, application.pro dodanie bd
  spring_apps/user-service/src/main/resources/application.properties
Due: build_user-service

(Poprawka)user-service, application.pro zmiana na localhost
  spring_apps/user-service/src/main/resources/application.properties
Due: build_user-service

Path conditions:
  build_api-gateway: any of: spring_apps/api-gateway/**/*
  build_user-service: any of: spring_apps/user-service/**/*
  build_garage-service: any of: spring_apps/garage-service/**/*
  build_vehicle-service: any of: spring_apps/vehicle-service/**/*
  build_notification-service: any of: spring_apps/notification-service/**/*
  build_recommendation-service: any of: spring_apps/recommendation-service/**/*
  create_api-gateway_image: any of: spring_apps/api-gateway/**/*, ./services.Dockerfile, ./docker-compose.yml
