Repository DukiDuki2000/My_Car_Specialist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image

build_api-gateway:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/api-gateway
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/api-gateway/build/libs/*.jar
    expire_in: 1 day

build_user-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/user-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/user-service/build/libs/*.jar
    expire_in: 1 day

build_garage-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/garage-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/garage-service/build/libs/*.jar
    expire_in: 1 day

build_vehicle-service:
  stage: build
  script:
  - cd spring_apps/vehicle-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/vehicle-service/build/libs/*.jar
    expire_in: 1 day

build_notification-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/notification-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/notification-service/build/libs/*.jar
    expire_in: 1 day

build_recommendation-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/recommendation-service
  - chmod +x gradlew
  - ./gradlew bootJar
  artifacts:
    paths:
    - spring_apps/recommendation-service/build/libs/*.jar
    expire_in: 1 day

create_api-gateway_image:
  stage: dockerize
  script:
  - cd spring_apps/api-gateway;
  - mkdir -p ./${DEPENDENCY_DIR};
  - cd ./${DEPENDENCY_DIR};
  - jar -xf ../libs/*.jar;
  - cd ../..
  - pwd
  - chmod +x ./spring_apps/api-gateway/gradlew
  - VERSION=$(./spring_apps/api-gateway/gradlew -q printVersion)
  - cd;
  ...

Image creation test
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage-service/GarageServiceApplication.java
Due: build_garage-service

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

api in docker
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

CI docker images for services
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage-service/GarageServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projket/notification-service/NotificationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation-service/RecommendationServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user-service/UserServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image

docker-compose services from images
  docker-compose.yml
Due: none

docker compose up test
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

ci docker compose up
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

images version fix
  docker-compose.yml
Due: none

test
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

docker-compose fix
  docker-compose.yml
Due: none

dockerfile fix
  services.Dockerfile
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

main classes fix
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

test new class variable
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

change entrypoint
  services.Dockerfile
Due: none

new entrypoint test
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

It may be correct
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockerfile fix
  services.Dockerfile
Due: none

new dockerfile test
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockefile fix
  services.Dockerfile
Due: none

dockerfile test
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockerfile test
  services.Dockerfile
Due: none

dockerfile test part2
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockerfile test env 1/2
  services.Dockerfile
Due: none

dockerfile env test 2/2
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockerfile env sh test 1/2
  services.Dockerfile
Due: none

dockerfile env sh test 2/2
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

dockerfile final test 1/2
  services.Dockerfile
Due: none

dockerfile final test 2/2
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway, create_api-gateway_image

build all services
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage-service/GarageServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projket/notification-service/NotificationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation-service/RecommendationServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user-service/UserServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image

basic api routing
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/garage/client/RestGarageServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/notification/client/RestNotificationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/recommendation/client/RestRecommendationServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/user/client/RestUserServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/infrastructure/vehicle/client/RestVehicleServiceClient.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/rest/garage/GarageRestController.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/rest/notification/NotificationRestController.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/rest/recommendation/RecommendationRestController.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/rest/user/UserRestController.java
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/rest/vehicle/VehicleRestController.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/GarageServiceApplication.java
  spring_apps/garage-service/src/main/java/com/apsi_projekt/garage_service/rest/GarageRestController.java
  spring_apps/notification-service/src/main/java/com/apsi_projket/notification_service/NotificationServiceApplication.java
  spring_apps/notification-service/src/main/java/com/apsi_projket/notification_service/rest/NotificationRestController.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/RecommendationServiceApplication.java
  spring_apps/recommendation-service/src/main/java/com/apsi_projekt/recommendation_service/rest/RecommendationRestController.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/UserServiceApplication.java
  spring_apps/user-service/src/main/java/com/apsi_projekt/user_service/rest/UserRestController.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/rest/VehicleRestController.java
Due: build_api-gateway, build_user-service, build_garage-service, build_vehicle-service, build_notification-service, build_recommendation-service, create_api-gateway_image

Path conditions:
  build_api-gateway: any of: spring_apps/api-gateway/**/*
  build_user-service: any of: spring_apps/user-service/**/*
  build_garage-service: any of: spring_apps/garage-service/**/*
  build_vehicle-service: any of: spring_apps/vehicle-service/**/*
  build_notification-service: any of: spring_apps/notification-service/**/*
  build_recommendation-service: any of: spring_apps/recommendation-service/**/*
  create_api-gateway_image: any of: spring_apps/api-gateway/**/*, ./services.Dockerfile, ./docker-compose.yml
