Repository DukiDuki2000/My_Car_Specialist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api-gateway, build_user-service, build_garage-service, build_vechicle-service, build_notification-service, build_recommendation-service

build_api-gateway:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/api-gateway
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/api-gateway/build/libs/*.jar
    expire_in: 1 day

build_user-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/user-service
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/user-service/build/libs/*.jar
    expire_in: 1 day

build_garage-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/garage-service
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/garage-service/build/libs/*.jar
    expire_in: 1 day

build_vechicle-service:
  stage: build
  script:
  - cd spring_apps/vehicle-service
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/vehicle-service/build/libs/*.jar
    expire_in: 1 day

build_notification-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/notification-service
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/notification-service/build/libs/*.jar
    expire_in: 1 day

build_recommendation-service:
  stage: build
  image: gradle:latest
  script:
  - cd spring_apps/recommendation-service
  - chmod +x gradlew
  - ./gradlew clean build
  artifacts:
    paths:
    - spring_apps/recommendation-service/build/libs/*.jar
    expire_in: 1 day

Update VehicleServiceApplication.java
  spring_apps/vehicle-service/src/main/java/com/apsi_projekt/vehicle_service/VehicleServiceApplication.java
Due: build_vechicle-service

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add dockerfile and docker compose
  docker-compose.yml
  services.Dockerfile
Due: none

test docker ci
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 1
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 2
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 3
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 4
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 5
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 6
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

poprawa compose
  docker-compose.yml
Due: none

docker ci test 7
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

popraw compose + ci test8
  docker-compose.yml
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 9
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 10
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 11
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

docker ci test 12
  docker-compose.yml
  spring_apps/api-gateway/src/main/java/com/apsi_projekt/api_gateway/ApiGatewayApplication.java
Due: build_api-gateway

Path conditions:
  build_api-gateway: any of: spring_apps/api-gateway/**/*
  build_user-service: any of: spring_apps/user-service/**/*
  build_garage-service: any of: spring_apps/garage-service/**/*
  build_vechicle-service: any of: spring_apps/vehicle-service/**/*
  build_notification-service: any of: spring_apps/notification-service/**/*
  build_recommendation-service: any of: spring_apps/recommendation-service/**/*
